
.navbar {
    width: 90%;

}

img {
    height: 150px;
    margin: 10px;


}


.button {
    color: white;
    background-color: gray;

}

.button:hover {
    background-color: green;
    color: blue;

}